<div class="text-center">
    <p>Create new recipe</p>    
    @using (Html.BeginForm("CreateRecipe", "Create")) {
        <div>
            <label>Name:</label>
            <input type="text" name="Name" required />
        </div>
    }
</div>